<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577637183424-eto0rib0r9mn3lhlp1muu7dumgc4embr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577637183424-eto0rib0r9mn3lhlp1muu7dumgc4embr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577637183424-frutcif7v9i5l7mt028la259eif4c25u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAndb8XQ13xjjPhcqJZu-yQySolGa8TGEw</string>
	<key>GCM_SENDER_ID</key>
	<string>577637183424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wurknet.mobile</string>
	<key>PROJECT_ID</key>
	<string>wurknet</string>
	<key>STORAGE_BUCKET</key>
	<string>wurknet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577637183424:ios:84d02ece67734dfdbbe225</string>
	<key>DATABASE_URL</key>
	<string>https://wurknet.firebaseio.com</string>
</dict>
</plist>